// Bourbon & Neat
@import '../bower_components/bourbon/dist/bourbon';
@import '../bower_components/neat/app/assets/stylesheets/neat';

$app-font: 'Lato', sans-serif;
$post-preview-font: 'Indie Flower', cursive;
$main-container-bg: #3B5998;
$post-edit-bg: #BDC3C7;
$post-preview-bg: #ECF0F1;
$prev-btn-bg: #FFE41B;
$prev-btn-bg-hover: #FFCE40;
$pub-btn-bg: #2ECC71;
$pub-btn-bg-hover: #27AE60;
$date-color: #BDC3C7;

// Custom Styles
*:focus {
    outline: 0; // boom! wat
}

body {
    font-family: $app-font;
}

.maing {
    @include outer-container;
    border-radius: 8px;
    background-color: $main-container-bg;
    position: relative;
    top: 20px;
    padding: 14px;
    .user-input {
        @include span-columns(6);
        background-color: $post-edit-bg;
        padding: 10px;
    }

    .user-output {
        @include span-columns(6);
        background-color: $post-preview-bg;
        padding: 10px;
    }
}

.post-target {
    font-family: $post-preview-font;
}

input {
    border: 2px;
    padding: 10px;
}

textarea {
    width: 100%;
    height: 300px;
    border: 2px;
    padding: 10px;
}

.preview-button {
    background-color: $prev-btn-bg;
    font-family: $app-font;
    font-size: 16px;
    margin-top: 20px;
    display: block;
    float: right;
    border-radius: 6px;
    &:hover {
        background-color: $prev-btn-bg-hover;
        cursor: pointer;
        transition: background-color 0.3s;
    }
}

.publish-button {
    background-color: $pub-btn-bg;
    font-family: $app-font;
    font-size: 16px;
    margin-top: 20px;
    display: block;
    float: right;
    border-radius: 6px;
    &:hover {
        background-color: $pub-btn-bg-hover;
        cursor: pointer;
        transition: background-color 0.3s;
    }
}

.logo {
    width: 200px;
    height: 200px;
    background-image: url(../images/blog512.png);
    background-size: cover;
    display: inline-block;
    float: right;
}

date {
    color: $date-color;
    font-family: $app-font;
}